<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Geist+Mono:wght@100..900&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href = "/css/navbar.css" rel="stylesheet">
    <link href = "/css/showcase.css" rel="stylesheet">
    <link href = "/css/tester.css" rel="stylesheet">
    <link href = "/css/footer.css" rel="stylesheet">
    <link href = "/css/about.css" rel="stylesheet">
    <link href = "/css/converter.css" rel="stylesheet">
    <link href = "/css/filter.css" rel="stylesheet">
    <link href = "/css/galaxy.css" rel="stylesheet">
    <style>
    h1, h2, h3, p {
    margin-bottom: 1rem !important /* Restore default margins */
  }
    </style>

  </head>

  <body>

    <main class="main_container">
      <div class="popup_container"></div>
      <%- include("./index/layouts/navbar.ejs") %>
      <%- include("./index/layouts/showcase.ejs") %>
      <%- include("./index/layouts/filter_converter.ejs") %>
      <%- include("./index/layouts/color_tester.ejs") %>
      <%- include("./index/layouts/galaxy.ejs") %>

      <%- include("./index/layouts/footer.ejs") %>
    </main>


    <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="/js/index_global_vars.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/canvas/intro.js"></script>
    <script src="/js/color_pallete.js"></script>
    <script src="/js/type.js"></script>
    <script src="/js/img_upload.js"></script>
    <script src="/js/canvas.js"></script>

  </body>

</html>
