<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title></title>

    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Geist+Mono:wght@100..900&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

    <link href = "/css/user/util.css" rel="stylesheet">

    <link href = "/css/user/navbar.css" rel="stylesheet">
    <link href = "/css/user/dashboard.css" rel="stylesheet">
    <link href = "/css/footer.css" rel="stylesheet">
    <link href = "/css/user/detail.css" rel="stylesheet">
    <link href = "/css/profile.css" rel="stylesheet">

  </head>

  <body>

    <main class="dashboard_container">

      <%- include ("./layouts/popup.ejs") %>

      <img class="logo_watermark" src = "/imgs/logo.png"/>

      <%- include("./layouts/navbar.ejs") %>
      <%- include("./layouts/color_picker.ejs") %>
      <div class="edit_container" pallete_id = "<%= pallete_id %>" >

        <div class="edit_form_container">
            <button class="display_pallete_btn"> See Pallete </button>
          <form id = "edit-pallete">
            <div class="input_group input_group--half">
              <label>
                  Name
              </label>

              <input name="name" class="profile_input half_input" placeholder="Change Name" value= <%= pallete.name %>>
            </div>

            <div class="input_group input_group--half">
              <label>
                  Category
              </label>

              <input name="category" class="profile_input half_input" style="z-index: 99999999" placeholder="Change Category" value= <%= pallete.category %> >
            </div>

            <div class="input_group input_group--full">
              <br />
              <br>
              <label>
                  Image Upload
              </label>
              <input type="hidden" name = "pallete_id" value = "<%= pallete.pallete_id %>" >
              <input name="image" type="file" class="profile_input pallete_input--file" placeholder="Change Picture" >
            </div>

            <button class="submit_edit_button" id="pallete-edit-btn">Submit </button>

          </form>
        </div>
        <div class="edit_img_container">
          <img class="img_display"></div>
        </div>
      </div>

      <div class="detail_container">


          <% var src_name = pallete.image %>
          <% var src = src_name.substring(src_name.lastIndexOf('\\') + 1) %>

          <div class="text-container text-container--deal">

            <p class="title"> Title: <%= pallete.name %> </p>
            <p class="subtitle"> Category: <%= pallete.category ? pallete.category : "Other" %> </p>

            <button class="detail_btn edit_pallete_btn"> Edit Pallete </button>

            <button class="detail_btn detail_btn--complementary"> Complementary Colors </button>

            <button class="detail_btn detail_btn--original detail_btn--active"> Original Colors </button>

            <button class="detail_btn detail_btn--add"> Add Color </button>

          </div>

          <div class="img-container">
            <img src = "/../../<%= src %>" class="detail_image" />
          </div>


      </div>


      <div class="c--container c--container--active">
      <div class="rgb_detail_container">

      </div>

      <div class="custom_rgb_detail_container">

      </div>
    </div>

      <button class="delete_pallete" _id = "<%= pallete.pallete_id %>" id="delete-pallete"> Delete Pallete </button>

    </main>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src = "/js/color_util.js"></script>
    <script src = "/js/user/profile_global_var.js"></script>
    <script src="/js/auth/auth.js"></script>
    <script src="/js/img_upload.js"></script>
    <script src = '/js/auth/delete_account.js'></script>
    <script src = "/js/user/delete_pallets.js"></script>
    <script src = "/js/user/render_palletes.js"></script>
    <script src = "/js/user/edit_pallete.js"></script>
    <script src = "/js/user/color_picker.js"></script>

  </body>

</html>
