<div class="my_palletes_container">

  <div class="options_container">

      <div class="delete_palletes_container">
        <div class="delete_palletes"  id="delete-palletes">Delete Palletes</div>
        <div class="underline" ></div>
      </div>

  </div>

  <p class="title"> My Palletes </p>

  <% if(organized_palletes.length > 0) {%>

    <div class="inner-container">

      <% for(var i =0; i < organized_palletes.length; i ++) {%>

        <div class="pallete_category_container">

          <a href="<%= `/category/${organized_palletes[i].category}` %>">
            <p class="pallete_category_title"> <%= organized_palletes[i].category.length > 0 ? organized_palletes[i].category : "Other" %> </p>
          </a>
            <% for(var z = 0; z < organized_palletes[i].palletes.length; z ++) {%>

              <% var pallete = organized_palletes[i].palletes[z] %>

              <div class="flip-card pallete_card" _id = "<%= pallete.pallete_id %>" >

                <div class="exit" _id = "<%= pallete.pallete_id %>" >
                    X
                </div>

              <a href="/pallete/<%= pallete.pallete_id %>">  <div class="flip-card-inner">

                  <div class="flip-card-front">

                    <% var src_name = pallete.image %>
                    <% var src = src_name.substring(src_name.lastIndexOf('\\') + 1) %>

                    <p class="pallete_title"> <%= pallete.name %></p>

                    <div class="img_holder">
                       <img src = "<%= src %>"/>
                    </div>

                    <br />

                    <% for(var x =0; x < pallete.colors.length; x ++) {%>

                      <% var rgb = `rgb(${pallete.colors[x].r},${pallete.colors[x].g},${pallete.colors[x].b})` %>

                      <div class="color_blob" style="background:<%= rgb %>">  </div>

                    <%}%>

                  </div>

                  <div class="flip-card-back">

                    <% for(var x =0; x < pallete.colors.length; x ++) {%>

                      <% var rgb = `rgb(${pallete.colors[x].r},${pallete.colors[x].g},${pallete.colors[x].b})` %>

                      <div class="color_stripe" style="background:<%= rgb %>">
                        <p> <%= rgb %> </p>
                      </div>

                    <%}%>

                  </div>

                </div>
                </a>

              </div>

           <%}%>

         </div>


        <%}%>

      <%}%>

  </div>
